 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul {
    list-style: none;
}
.card, .stuff, .news, .cards, .trending{
    padding: 10px;
}
.container, .menu, .menu li, .header, .main, .cards{
    display: grid;
}
.bottom, .left-header, .right-header, .logo, .top, .search, .account-info, .trending div, .card ul{
    display: flex;
}
.header, .main{
    grid-column-start: 2;
    grid-column-end: 4;
}
.account-info .profile-pic {
    height: 50px;
    width: 50px;
}
.bottom, .left-header, .right-header{
    justify-content: space-between;
}
.greeting, .articles h2 {
    text-align: left;
}
.card, .cool-stuff, .news {
    background-color: white;
}
.site, .tegan {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.privacy, .alex {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .container {
        grid-template-columns: 1fr 2fr 2fr;
    }
    .sidebar {
        background-color: blueviolet;
        border: 1px black solid;
        color: white;
        grid-row-start: 1;
        grid-row-end: 3;
    }
        .logo {
            align-items: center;
        }
            .logo h1 {
                display: inline;
            }
            .menu {
                font-size: 20px;
                grid-template-rows: 1fr 1fr;
                height: 50%;
            }
                .boring-stuff {
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                .menu img {
                    height: 30px;
                    width: 30px;
                    justify-self: end;
                }
                .menu li {
                    gap: 30px;
                    grid-template-columns: 1fr 1fr;
                    padding: 10px;
                    padding-right: 100px;
                }
                .settings {
                    margin-top: 50px;
                }
    .header {
        grid-template-rows: 1fr 1fr;
        padding: 20px;
    }
        .top {
            justify-content: space-between;
        }
            .top img {
                height: 30px;
                width: 30px;
            }
            .search {
                align-self: center;
                width: 40%;
            }
            .search img {
                margin-top: 3px;
            }
            input {
                background-color: #cbd5e1;
                border: 2px #cbd5e1 solid;
                border-radius: 30px;
                max-height: 10px;
                padding: 15px;
                width: 80%;
            }
            .account-info {
                align-items: center;
                justify-content: space-around;
                width: 20%;
            }
                .account-info p {
                    font-size: 24px;
                    font-weight: bold;
                }
            .left-header img {
                height: 75px;
                width: 75px;
            }
            .account-name {
                font-size: 30px;
            }
            .right-header{
                align-items: center;
                justify-content: space-around;
                width: 40%;
            }
                button {
                    background-color: blue;
                    border-style: none;
                    border-radius: 20px;
                    color: white;
                    font-size: 18px;
                    justify-self: end;
                    max-height: 50px;
                    padding: 5px;
                    width: 100px;
                }
    .main {
        background-color: lightgray;
        gap: 10px;
        grid-template-columns: 3fr 1fr;
        padding: 30px;
    }
        .cards{
            gap: 15px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            text-align: left;
        }
            .card {
                border-left: 10px yellow solid;
                border-radius: 10px;
            }
                .card img {
                    height: 30px;
                    width: 30px;
                }
                .card ul {
                    align-items: flex-end;
                    justify-content: flex-end;
                }
                .article-title {
                    font-size: 24px;
                    font-weight: bold;
                }
        .news {
            padding: 20px;
        }
            .news-title {
                font-size: 24px;
                font-weight: bold;
                text-align: left;
            }
            .news-text {
                border-bottom: 1px black ridge;
                color: rgb(85, 84, 84);
                font-size: 16px;
                padding-bottom: 10px;
            }
            .end {
                border-style: none;
            }
        .trending {
            border-radius: 20px;
        }
            .trending div {
                padding: 10px;
                padding-left: 30px;
            }
            .trending img {
                height: 45px;
                width: 45px;
            }
            .profile {
                flex-direction: column;
            }
