 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ul {
    list-style: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.header, .main{
    grid-column-start: 2;
    grid-column-end: 4;
}
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    text-align: left;
}
.article-title {
    font-size: 24px;
    font-weight: bold;
}
.trending div {
    display: flex;
    padding: 10px;
    padding-left: 30px;
}
.profile {
    display: flex;
    flex-direction: column;
}
.trending img {
    width: 45px;
    height: 45px;
}
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.sidebar {
    color: white;
    border: 1px black solid;
    background-color: blueviolet;
    grid-row-start: 1;
    grid-row-end: 3;
}
.main {
    background-color: lightgray;
    padding: 30px;
}
.card {
    border-radius: 10px;
    border-left: 10px yellow solid
}
.card, .stuff, .news, .cards, .trending{
    padding: 10px;
}
.card, .cool-stuff, .news {
    background-color: white;
}
.news-text {
    border-bottom: 1px black ridge;
    padding-bottom: 10px;
    font-size: 16px;
    color: rgb(85, 84, 84)
}
.end {
    border-style: none;
}
.site, .tegan {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.privacy, .alex {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.trending {
    border-radius: 20px;
}
.top {
    display: flex;
    justify-content: space-between;
}
.bottom, .left-header, .right-header{
    display: flex;
    justify-content: space-between;
}
.account-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-header{
    width: 40%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.account-info p {
    font-size: 24px;
    font-weight: bold;
}
input {
    height: 35px;
    width: 80%;
    border-radius: 30px;
    border: 2px #cbd5e1 solid;
    background-color: #cbd5e1;
}
.card img {
    width: 30px;
    height: 30px;
}
.card  {
    display: grid;
}
.card ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
button {
    width: 100px;
    max-height: 50px;
    padding: 5px;
    border-radius: 20px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border-style: none;
    justify-self: end;
}
.articles h2 {
    text-align: left;
}
.news-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.news {
    padding: 20px;
}
.menu {
    display: grid;
    height: 50%;
    grid-template-rows: 1fr 1fr;
    font-size: 20px;
}
.boring-stuff {
    grid-row-start: 2;
    grid-row-end: 3;
}
.menu img {
    display: inline;
    width: 30px;
    height: 30px;
}
.top img {
    width: 30px;
    height: 30px;
}
.left-header img {
    width: 75px;
    height: 75px;
}
.greeting {
    text-align: left;
}
.logo h1 {
    display: inline;
    
}
.account-info .profile-pic {
    width: 50px;
    height: 50px;
}
.account-name {
    font-size: 30px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 10px;
}
.menu img {
    justify-self: end;
}
.settings {
    margin-top: 50px;
}
.search {
    display: flex;
    align-self: center;
    width: 40%;
}
.account-info {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
/*ul {
    list-style: none;
}
.header, .container, .main, .cards{
    display: grid;
}
.header{
    grid-template-rows: 1fr 1fr;
}
.container {
    grid-template-columns: 1fr 3fr;
}
.sidebar {
    background-color: rgb(76, 63, 253);
}
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: lightgray;
    padding: 20px;
}
.cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
.card {
    background-color: white;
    border: 1px wheat solid;
    border-radius: 10px;
}
.right {
    grid-column-start: 2;
    grid-column-end: 3;
} */
